.contain{
    margin-top: 60px;
    text-align: center;
}

h1{
    color: cornflowerblue;
    
    font-size: 60px;
}
p{
    padding-bottom: 6px;
    font-size: 25px;
}
a{
    background-color: rgb(132, 49, 165);
    border-radius: 10px;
    color: antiquewhite;
    text-decoration: none;
    box-sizing: border-box;
    padding: 7px;
}
.btn{
    padding: 6px;
    margin: 10px;
}
.quote-box{
    padding: 13px;
    margin: 36px;
    
    width: 30em;
    height: auto;
    margin: 10px auto;
    display: flexbox;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 20px;
}